<h1>Question List</h1>

<% @quizzes = Quiz.all %>
<% @quizzes.each do |quiz| %>
  <% unless quiz.questions.empty? %>
    <h3>Quiz: <%= quiz.id %></h3>
    <% quiz.questions.each do |question| %>
      <p>
        <%= link_to question.text, edit_question_path(question) %> - <%= question.right %>
      </p>
    
     <% end %>

    <% end %>
 <% end %>

<br>

<%= link_to 'New Question', new_question_path %>
