
<h1>Listing quizzes</h1>



  <% @quizzes.each do |quiz| %>
   <div>
      <h2> ID:<%= quiz.id %> - <%= link_to quiz.name, quiz_path(quiz) %></h2>
    </div>  
    <br>
  <% end %>
  
    
  




<br>

<%= link_to 'New Quiz', new_quiz_path %>

