<script type="text/javascript">
$( document ).ready(function() {
    console.log( "ready!" );
// $(".bbox").mouseover(function(){
      // $('.bbox').css("height", "210");
    //  $('.bbox').addClass('hovering');
    // }).mouseleave(function(){
    //   $(".bbox").removeClass('hovering');
    // });


 // $("button").click(function(){
    $(".left_sun").delay(500).animate({
      marginTop:'0px',
      height:'+=200px',
      width:'+=200px'
    },1500);

 $(".right_sun").delay(1000).animate({
      marginTop:'0px',
      height:'+=200px',
      width:'+=200px'
    },1500);

$("header").delay(0).animate({
      marginTop:'15px',
    
    },1000);


  // });

});
</script>



<div id="book" >
  <div class="row">
    <%= link_to design_introduction_path do %>
      <div class="span2 offset1 bbox left_sun gradient" id='left_sun '>
        <h2>See<br/> How</h2>
      </div>
    <% end %>

    <%= link_to design_index_path do%>
      <div class="span2 offset3 bbox right_sun gradient" id='right_sun '>
        <h2>Continue<br>Designing</h2> 
      </div>
    <% end %>
    
  </div>
</div>





