<h1>Listing companies</h1>

<h1>Contents</h1>

 
    <% @companies.each do |company| %>
   <div>
      <h2> <%= link_to company.name, company_path(company) %></h2>
      
       <%= company.description %> 
    </div>
  
    <% end %>
  
</table>

<br>



<%= link_to 'New Company', new_company_path %>
