


 
params before I call for the chapter  
<%= params.inspect %>
<br><br>
after chapter call  

<%#= @chapter.inspect %>
<%= params.inspect %><br><br>
calling the actual chapter  

<form name="input" action="#" method="post">

<h2><%= @chapter.quiz.name %></h2>
<div id="accordion">
<% @chapter.quiz.questions.each_with_index do |question, index | %>
  <% @question = question %>
   <% @index = index + 1%>
   <%= render '/questions/question_display' %>
 <% end %>
 </div>
<br>
<input type="submit" value="Check your answers">
</form>
 



