// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charger {
// background-color: transparent;
padding: 25px;
}


.splash { margin-top: -300px}

#book {
  // background: radial-gradient(blue, navy);
// border: 2px white solid;
padding-top: 50px;
padding-bottom: 50px;

  .row {
    margin:auto;

  }
    a:hover {text-decoration: none; }
     
    
    
  .bbox{
    margin-top: 1000px;

    position: relative;
    background: linear-gradient(white, #FB9E00);
    // background: linear-gradient(#FB9E00, #FCD272);
    text-align: center;
    width: 10px;
    height: 10px;
    border-radius:50%;
    color:navy;
    vertical-align: center;


    h2 { padding-top:25%; }  
   }

    .bbox:hover {
      border: 2px solid yellow;
      width: 210px;
      height: 210px; 
      background: linear-gradient(white, #f7cf09);
      margin-right: -1px;
      h2{font-size: 2.5em;}

      }

}

.book_backer {
  // background: url('book.jpg') no-repeat center center relative; 
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  // padding-top: -100%;

  


}

#book_photo {
  margin-top: 10%;
  height: 300px;

  
  

}
#order_now {
// border: 2px white solid;
//   text-align: center;
//  margin-top: 10%;
}