<h1>Listing sashes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sashes.each do |sash| %>
      <tr>
        <td><%= link_to 'Show', sash %></td>
        <td><%= link_to 'Edit', edit_sash_path(sash) %></td>
        <td><%= link_to 'Destroy', sash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sash', new_sash_path %>
